

.register_form {
text-align: center;
margin-top: 2.5rem;
}

.register_labelForm{
    display: block;
    color: white;
    margin-bottom: 1.5rem;
}

.register_inputForm{
    border: none;
    border-radius: 5rem;
    padding: .6rem 1.2rem;
    background-color: #CCCCCC;
    margin-bottom: 2.5rem;
}

.register_nextBtn{
    display: block;
    background-color: #0EB0F6;
    color:white;
    border: none;
    border-radius: 5rem;
    padding: 0.7rem 2rem;
    margin: 0 auto;
    font-size: 1.2rem;
}

.register_createAccountBtn{
    display: block;
    background-color: #0EB0F6;
    color:white;
    border: none;
    border-radius: .5rem;
    padding: 0.7rem 2rem;
    margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.register_text{
    color: white;
    font-size: .75rem;
}

.register_textCheckbox{
    display: inline-block;
    width: 90%;
    color: white;
    font-size: .75rem;
}

.register_smallTitle{
    color:#0EB0F6;
    font-size: .7rem;
    font-weight: 500;
    text-align: left;
    margin-left: 3rem;
    margin-top: 2rem;
}



.register_toggle-switch-container {
    display: flex;
    padding: 1rem 3rem;
    align-items: center;
    text-align: center;
  }
.register_toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 1.5rem;
  }

  .register_toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .register_toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
    width: 3.8rem;
  }

  .register_toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .register_toggle-slider {
    background-color: #2196F3;
  }

  input:checked + .register_toggle-slider:before {
    transform: translateX(26px);
  }