.profile_settings {
  display: flex;
  flex-direction: column;
}

.edit_profile {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem auto;
  gap: 1rem;
  width: 90%;
}

.name_inputForm,
.loginprofile_input {
  border: none;
  border-radius: 5rem;
  padding: 0.6rem 1.2rem;
  background-color: #cccccc;
  margin-bottom: 1rem;
  width: 100%;
  margin-right: 0.66rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 3.5rem;
}

.save_button {
  display: block;
  background-color: #0eb0f6;
  color: white;
  border: none;
  border-radius: 5rem;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
}

.cancel_button {
  display: block;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5rem;
  padding: 0.3rem 2rem;
  font-size: 1.2rem;
}
