.profile_settings {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}


.edit_profile {
    color: white;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

.profile_form {
    /* text-align: center; */
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    margin-bottom: 2.5rem;
    gap: 2rem;
}

.name_inputForm {
    border: none;
    border-radius: 5rem;
    padding: 0.6rem 1.2rem;
    background-color: #CCCCCC;
    margin-bottom: 1rem; 
    width: 90%;
    margin-right: 0.66rem;
}

.name_inputForm::placeholder {
    color: black;
}

.profile_inputForm {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5rem;
    padding: .6rem 1.2rem;
    background-color: #CCCCCC;
    margin-bottom: 1rem; 
    width: calc(33.33% - 0.66rem); 
    margin-right: 0.66rem; 
}

.date_selectors {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
    /* gap: 3rem; */
    
};

.country_container {
    width: 100%;
}

.country_inputForm {
    border: none;
    border-radius: 5rem;
    padding: .6rem 1.2rem;
    background-color: #CCCCCC;
    margin-bottom: 1rem; 
    width: 100%;
    margin-right: 0.66rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 1.5rem;
}

.save_button {
    display: block;
    background-color: #0EB0F6;
    color:white;
    border: none;
    border-radius: 5rem;
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
}

.cancel_button {
    display: block;
    background-color: transparent;
    color:white;
    border: none;
    border-radius: 5rem;
    padding: 0.3rem 2rem;
    font-size: 1.2rem;
}