.userWelcome {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #15182e;
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  img {
    max-width: 4.12rem;
    max-height: 4.12rem;
    border-radius: 100%;
  }
  color: white;
}
