.profile_container {
  color: white;
}

.profile_header {
  padding-top: 3rem;
  background: linear-gradient(to bottom, #15182e, #070663);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileUserPic {
  max-width: 5rem;
  min-width: 5rem;
  border-radius: 100%;
}

.profileUserName {
  text-align: center;
  padding-bottom: 1rem;
}

.profileUserName h3 {
  margin: 0.5rem 0;
}

.profile_details {
  margin-left: 1.5rem;
}

