


.searchPage_form{
    display: flex;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.searchPage_icon{
    width: 1.5rem;
    transform: translateX(2.5rem);
}

.searchPage_input{
    padding: .5rem 1rem;
    padding-left: 3rem;
    border-radius: 1rem;
    width: 85%;
}

.searchPage_input::placeholder{
    color: black;
    font-weight: 500;
    font-size: 1rem;
}