
.createAccountHeader_container{
    display: flex;
    color: white;
    align-items: center;
    font-size: 1.3rem;
    margin: 1rem;
    font-weight: 500;
}

.createAccountHeader_btn{
    width: 3rem;
    background-color: transparent;
    border: none;
    padding: 0;
    margin-right: 3rem;
}

.createAccountHeader_svg{
    width: 3rem;
}