.sonlist__info {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}

.song_info {
    display: block;
}

.text {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}
  
