.player-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  .track-container {
    display: flex;
    max-width: 15rem;
    max-height: 100%;
    margin: 0 auto;
  }
  .track-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    .track-title {
      font-size: 2.5rem;
    }
    .track-artist {
      font-size: 1.5rem;
    }
  }
  .player-container {
    min-width: 20rem;
    display: flex;
    justify-content: center;
    button {
      max-width: 15rem;
      max-height: 15rem;
      transition: none;
    }
    img {
      max-width: 70%;
    }
  }
}
