.userMusic {
  color: white;
  /* overflow-y: auto; */
  margin:auto;
  max-height: 80vh;
  
  .user-mysongs {
    color: white;
    margin-left: 1.5rem;
    font-size: 1.3rem;
  }
  .sonList {
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 0.5rem;
    margin-left: 0.5rem;

    .sonlist__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 5rem;
        height: 5rem;
      }
    }
  }
}
