@import url("App.css");
@import url("pages/HomeNotLogged/homeNotLogged.css");
@import url("pages/Register/register.css");
@import url("components/Register/createAccountHeader.css");

body{
  margin: 0;
  min-height: 98vh;
  background-color: #14152E;
  font-family: "Montserrat", sans-serif;
}

